@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #b1b349, #31a3c5, #0C293B);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #030c1186;
    width:600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #c77914;
    text-align: center;
    text-shadow: 1px 1px 1px #241603bd;
}
h2 {
    
    color: #165B87;<
}

p {
    text-align: justify;

}